// theme color
$primary: #da291c;
$secondary: #1d1b16;
$secondary_1: #fff8ea;
$secondary_2: #fff1c7;
$secondary_3: #edd8aa;
$secondary_4: #fd3426;

$white: #ffffff;
$black: #0f0f0f;
$gray: #72665b;
$orange: #ffc72c;

$background: #fff8ea;
$disabled: #b1a598;
$safe: #12833b;
$danger: #b91c1c;
$link: #da291c;
$footer: #fff1c7;
$highlighted-warning: #ffc72c;
$text-color: #1d1b16;
$secondary-text-color: #72665b;

// stat card colors
$stat-pending: #1890ff;
$stat-processing: #ff7a45;
$stat-complete: #52c41a;
$stat-bots: #722ed1;
