<div class="w-full h-screen bg-background flex flex-col items-center justify-center gap-2 rounded-lg p-8 text-center">
  <img
    width="300"
    height="150"
    ngSrc="errors/404.svg"
    class="w-[300px] h-[150px] text-muted-foreground"
    alt="Error 404"
  />
  <h1 class="text-foreground text-4xl font-bold">Ops !!</h1>
  <p class="text-muted-foreground text-sm">The requested page is missing. Check the URL or return to</p>
  <button routerLink="/" type="button" class="btn btn-primary">Home Page</button>
</div>
