<div class="card bg-base-100 shadow-sm border border-base-200 overflow-hidden relative">
  <div class="card-body p-6 lg:p-8 flex-col lg:flex-row justify-between items-center gap-6">
    <div class="text-center lg:text-left">
      <h1 class="text-3xl lg:text-4xl font-bold tracking-tight text-base-content pb-1">McDonald's Bot Orchestrator</h1>
      <p class="text-base-content/60 font-medium mt-1">Automated cooking bot management system</p>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4">
      <button class="btn btn-warning btn-md lg:btn-lg shadow-sm font-bold text-warning-content hover:scale-105 transition-transform" (click)="addNormalOrder()">
        <ng-icon name="lucidePlus" class="mr-1 text-xl"></ng-icon>
        Normal Order
      </button>
      
      <button class="btn btn-error btn-md lg:btn-lg shadow-sm font-bold text-error-content hover:scale-105 transition-transform" (click)="addVipOrder()">
        <ng-icon name="lucidePlus" class="mr-1 text-xl"></ng-icon>
        VIP Order
      </button>
      
      <div class="divider divider-horizontal hidden lg:flex mx-2 opacity-30"></div>
      <div class="divider w-full lg:hidden my-0 opacity-30"></div>
      
      <button class="btn btn-neutral btn-md lg:btn-lg shadow-sm font-bold text-neutral-content hover:scale-105 transition-transform" (click)="addBot()">
        <ng-icon name="lucidePlus" class="mr-1 text-xl"></ng-icon>
        Bot
      </button>
      <button class="btn btn-outline btn-md lg:btn-lg shadow-sm font-bold hover:scale-105 transition-transform" (click)="removeBot()" [disabled]="orderService.bots().length === 0">
        <ng-icon name="lucideMinus" class="mr-1 text-xl"></ng-icon>
        Bot
      </button>
    </div>
  </div>
</div>
