*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	min-width: 320px;
}

#root {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

button {
	font-family: inherit;
}
